/build/
/build-release/
/build-debug/
/CMakeUserPresets.json
/out/
/.vs/
/.idea/
/.conan2/
/TheCircle.lnk
/TheCircle-Release.lnk
/TheCircle-Debug.lnk
/meta_save.json
crash_log.txt
ps_debug.txt
stderr_out.txt
stdout_out.txt
build_debuglog.ps1
build_nodebuglog.ps1
