/build/
/build-release/
/build-debug/
/CMakeUserPresets.json
/out/
/.vs/
/.idea/
/.conan2/
/TheCircle.lnk
/TheCircle-Release.lnk
/TheCircle-Debug.lnk
/meta_save.json
build-debug.zip
build-release.zip
